# Eclipse
.project
.metadata
bin/**
*/Debug/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# Tex
*.pdf
*.log
*.aux
*.synctex.gz
*.texshop

# Mac OS X goodness
.DS_Store

# Project specific
release/
